BACKUPD
debug_*.csv
config.csv
charts.csv
chart_data.csv
suppression.csv
enough_data.csv
errors.csv
flagged.csv
flagged_results_with_enough_data.csv
flagged_results_with_not_enough_data.csv
flagged.sql
logs
master_lists.csv
no_data.csv
not_enough_data.csv
not_flagged.sql
query.sql
*results.csv
sample_counts.csv
*.swp
flag_only
